<% content_for :title do %>Anna Bananna<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
<section>
  <img src="https://i1.wp.com/todasgamers.com/wp-content/uploads/2017/03/11.png?fit=520%2C270&ssl=1">
</section>
<section>
  <div class="column">
   <h3>Jesli chcesz dostac kiedys jakiegos milego mejla - podaj swoj adres. Imejlowy.</h3>
  </div>
  <div class="column">
   <div class="form-centered">
    <%= form_with(model: @visitor) do |f| %>
     <%= f.email_field :email, placeholder: 'Your email address...', autofocus: true %>
     <br/>
     <br/>
     <%= f.submit 'TAK, CHCE!!', class: 'submit' %>
    <% end %>
   </div>
  </div>
</section>